/* SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  font-size: 62.5%;

  --gray: #a8a8b3;
  --purple: #8257e5;
}

body {
  background: black;
  text-align: center;
  overflow: overlay;
}

body * {
  font-family: "Manrope", sans-serif;
}

body .app {
  background-image: url(./assets/blur-mobile.png);
  background-position: bottom, center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.menu-expanded .app {
  background: none;
}

.button {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: max-content;
  margin-inline: auto;

  padding: 1rem 3rem;
  border: 1px solid #8257e5;
  border-radius: 0.6rem;

  font-weight: 800;
  font-size: 1.1rem;
  line-height: 1.5rem;

  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-transform: uppercase;
}
